.search-form
    margin-top 30px

.disabled
    pointer-events none
    color gray
    opacity .4

/*
    Style for list box
*/

.visually-hidden
    display none

#awesomplete_list_1
    list-style none
    padding 0
    margin 0
    text-align center
    cursor pointer
    background-color rgba(232, 232, 232, 0.4)

#awesomplete_list_1 &:hover
	background-color rgba(55, 55, 55,0.2)

.awesomplete
    display inline-block

.submit
    position fixed
    margin-left 0.5rem
/*
    for responsive
*/
.search-form
    +below(650px)
        display none